<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>
    <%- include ('../includes/header.ejs') %>
    
    <% if (locals.success) { %>
        <div class="success-notif"> <%= success %> </div>
    <% } else if (locals.error) { %>
        <div class="error-notif"> <%= error %> </div>
    <% } %>

    <main>
        <%- body %>
    </main>
    
</body>